numpy
scipy
xarray
pandas
pydantic>=2.0
rasterio
rioxarray
geopandas
pyproj>=3.3
shapely
h5py
h5netcdf
requests
tqdm
ruamel.yaml
click
matplotlib
opera-utils
venti @ git+https://github.com/opera-adt/Venti@cal_workflow
