# CAL-DISP RunConfig
# Science Application Software (SAS) configuration for CAL-DISP
# Schema version: 0.1

input_file_group:
  # REQUIRED: Path to DISP file.
  #   Type: string | path.
  disp_file:

  # REQUIRED: Path to UNR calibration reference file. [parquet]
  #   Type: string | path.
  calibration_reference_grid:

  # REQUIRED: Frame ID of the DISP frame.
  #   Type: integer.
  frame_id:

dynamic_ancillary_file_group:
  # REQUIRED: Path to file containing SAS algorithm parameters.
  #   Type: string | path.
  algorithm_parameters_file: algorithm_parameters.yaml

  # REQUIRED: Path to the DISP static_layer file (1 per frame) with line-of-sight unit vectors.
  #   Type: string | path.
  static_layers_file:

  # Optional: Byte mask file used to ignore low correlation/bad data (e.g. water mask).
  #   Convention is 0 for no data/invalid, and 1 for good data. Dtype must be uint8.
  #   Type: string | path | null.
  mask_file:

  # Optional: Paths to the TROPO files (1 for reference and 1 for secondary date).
  #   If none provided, tropospheric correction in calibration is skipped.
  #   Type: array[string | path] | null.
  tropo_files:

  # Optional: Paths to the IONO files (1 for reference and 1 for secondary date).
  #   If none provided, ionospheric correction in calibration is skipped.
  #   Type: array[string | path] | null.
  iono_files:

  # Optional: Paths to the calibration tile bounds files (e.g. S1 burst bounds) covering
  #   full frame. If none provided, calibration per tile is skipped.
  #   Type: array[string | path] | null.
  tiles_files:

static_ancillary_file_group:
  # Optional: JSON file containing frame-specific algorithm parameters to override the
  #   defaults passed in the `algorithm_parameters_file`.
  #   Type: string | path | null.
  algorithm_parameters_overrides_json:

  # Optional: GEOJSON file containing list of deforming areas to exclude from calibration
  #   (e.g. Central Valley subsidence).
  #   Type: string | path | null.
  defo_area_database_json:

  # Optional: GEOJSON file containing list of events (earthquakes, volcanic activity) for each frame.
  #   Type: string | path | null.
  event_database_json:

primary_executable:
  # Product type of the PGE.
  #   Type: string.
  product_type: CAL_DISP

product_path_group:
  # REQUIRED: Directory where PGE will place results.
  #   Type: string | path.
  product_path:

  # Path to the scratch directory for intermediate files.
  #   Type: string | path.
  scratch_path: scratch

  # Path to the SAS output directory.
  #   Type: string | path.
  sas_output_path:

  # Version of the product, in <major>.<minor> format.
  #   Type: string.
  product_version: '0.1'

worker_settings:
  # Number of threads to use per worker. Sets OMP_NUM_THREADS environment variable
  #   in each python process.
  #   Type: integer.
  threads_per_worker: 2

  # Size (rows, columns) of blocks of data to load at a time.
  #   Type: array[integer].
  block_shape:
    - 512
    - 512

# Path to the output log file in addition to logging to stderr.
#   Type: string | path | null.
log_file:
